@import "vars";

@import "libs";

::placeholder {
	color: #96a2b0;
}

::selection {
	background-color: #00b3ee;
	color: #fff;
}


html, body {
	height: 100%;
}
*{
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
}
body {
	font-size: 16px;
	min-width: 320px;
	position: relative;
	line-height: 1.65;
	
	overflow-x: hidden;
	background-color: #272d3b;
	font-family: 'Roboto', sans-serif;
	color: #fff;
	input, textarea {
			border: #666 1px solid;
			outline: none;
			&:focus:required:invalid {
				border-color: red;
			}
			&:required:valid {
				border-color: green;
			}
	}
}

.img-responsive {
	display: block;
	max-width: 100%;
	height: auto;
}
a {
	text-decoration: none;

	transition: all 0.2s ease;
	outline: none;
	color: #fff;
	text-decoration: none;
	display: inline-block;
	outline: none !important;
	cursor: pointer;
	&:hover, &:active, &:focus {
		text-decoration: none;

		transition: all 0.3s ease;
		outline: none;
		border: none;
	}
}

button{
	outline: none!important;
	transition: all 0.3s ease;
}
.text-center {
	text-align: center;
}
ul{
	list-style: none;
	padding: 0;
	margin: 0;
	li{
		list-style: none;
	}
}
.page{

}
.main_content{
	width: 100%;
	padding-left: 400px;
	padding-top: 40px;
	padding-right: 70px;

}


// --------------- all
.main_sitebar{

	padding-left: 60px;
	padding-top: 70px;
}

.tabs {

	display: flex;

	li {
		float:left;
		margin-right: 50px;
		&:last-child{
			margin-right: 0;
		}

	}
	a {
		display:block;

		font-family: Roboto;
		font-size: 18px;
		font-weight: 200;
		line-height: 30px;

		color: #96a1b0;



		&:hover, &.active {
			border-bottom: 1px solid #fff;
			color: #fff;
		}
	}
}
.tabgroup {
	>div {
		margin-top: 30px;

	}
}
.clearfix:after {
	content:"";
	display:table;
	clear:both;
}

#content {
	position: relative;
	height: 50px;
	width: 100%;
	float: right;
	margin-top: 20px;
	transform: translate(0, 0);
}

#content.on {
	-webkit-animation-name: in-out;
	animation-name: in-out;
	-webkit-animation-duration: 0.7s;
	animation-duration: 0.7s;
	-webkit-animation-timing-function: linear;
	animation-timing-function: linear;
	-webkit-animation-iteration-count: 1;
	animation-iteration-count: 1;
}
#content{
	input {
		box-sizing: border-box;
		width: 30px;
		height: 30px;
		border: 1px solid #525762;
		border-radius: 50%;
		background: none;
		color: #fff;
		font-size: 16px;
		font-weight: 400;
		font-family: Roboto;
		outline: 0;
		background-color: #2b3240;
		transition: width 0.3s ease-in-out, border-radius 0.4s ease-in-out, padding 0.2s;
		-webkit-transition-delay: 0.1s;
		transition-delay: 0.1s;
		transform: translate(-17px,-50%);
		float: right;
	}

	.search {
		background: none;
		position: absolute;
		top: 0;
		right: -34px;
		height: 50px;
		width: 50px;
		padding: 0;
		border-radius: 100%;
		outline: 0;
		border: 0;
		color: inherit;
		cursor: pointer;
		-webkit-transition: 0.2s ease-in-out;
		transition: 0.2s ease-in-out;

		transform: translate(-36px,-50%);
	}

	.search:before {
		content: "";
		position: absolute;
		width: 15px;
		height: 1px;
		background-color: #666;

		transform: rotate(52deg);
		margin-top: 18px;
		margin-left: 0;

		transition: .2s ease-in-out;
	}

	.close {
		-webkit-transition: 0.4s ease-in-out;
		transition: 0.4s ease-in-out;
		-webkit-transition-delay: 0.4s;
		transition-delay: 0.4s;
	}

	.close:before {
		content: "";
		position: absolute;
		width: 27px;
		height: 1px;
		margin-top: -1px;
		margin-left: -13px;
		background-color: #fff;
		-webkit-transform: rotate(45deg);
		-ms-transform: rotate(45deg);
		transform: rotate(45deg);
		-webkit-transition: .2s ease-in-out;
		-o-transition: .2s ease-in-out;
		transition: .2s ease-in-out;
	}

	.close:after {
		content: "";
		position: absolute;
		width: 27px;
		height: 1px;
		background-color: #fff;
		margin-top: -1px;
		margin-left: -13px;
		cursor: pointer;
		-webkit-transform: rotate(-45deg);
		-ms-transform: rotate(-45deg);
		transform: rotate(-45deg);
	}

	.square {
		box-sizing: border-box;
		padding: 0 50px 0 10px;
		width: 300px;
		height: 50px;
		background-color: rgb(58, 68, 86);
		border-radius: 0;

		color: #fff;
		font-family: Roboto;
		font-size: 16px;
		font-weight: 400;
		outline: 0;

		transform: translate(0%,-50%);
	}
}
.logo{
	font-size: 120px;
	margin-left: 68px;
	span{
		display: inline-flex;
	}

}
.main_content_wr {
	width: 100%;

}
.main_content_descr{
	>span{
		color: #424b5a;
		font-size: 16px;
		display: inline-block;
		width: 100%;
		position: relative;
		top: -15px;
		font-weight: 300;
	}
	h1{
		color: #fff;
		font-weight: 200;
		font-size: 48px;
		margin-top: 0;
		margin-bottom: 45px;
		line-height: 22px;
	}
}
.chart_wr{


	margin-bottom: 40px;
	display: inline-block;
	width: 100%;
	.chart_title{
		display: block;
      	width: 100%;
		color: #96a1b0;
		font-size: 16px;
		font-weight: 300;
		background-color: #222835;
		padding: 7px 15px;
		margin-bottom: 20px;
	}
	.canvas_wr{
		width: 1000px;
		padding: 15px 25px;
		background-color: #2b3240;
		display: inline-block;
		float: left;
		canvas{
			width: 950px!important;
			height: 200px!important;
		}
	}
}

.lk_link a i{
	background-image: url(../img/svg/icon-12.svg);
	width: 30px;
	height: 30px;
	background-size: 30px;
	display: inline-block;
	top: 10px!important;
	background-repeat: no-repeat;

}
#cd-lateral-nav .main_menu_mob_wr .lk_link{
	margin-top: 150px;
	a {
		margin-top: -10px;
		display: block;
		line-height: 50px;
		padding: 0 20px;
	}
}
.lk_link a:hover{
	i{
		background-image: url(../img/svg/icon-11.svg);
	}
}
.logo_mob{
	display: none;
}
.chart_inform{
	display: inline-block;
	float: left;
	margin-left: 100px;
	height: 100%;
	display: flex;
	justify-content: space-around;
	flex-direction: column;
	height: 238px;

	p{
		color: #96a1b0;
		display: flex;
		font-size: 16px;
		font-weight: 300;
		line-height: 30px;
		i{
			min-width: 80px;
			display: inline-block;
			font-style: normal;
		}
		span{
			font-size: 48px;
			font-weight: 200;
			line-height: 30px;
			margin-left: 10px;
			color: #fff;
		}
	}
}

.login_page{
	width: 100%;
	min-height: 100vh;
	overflow: hidden;
	display: flex;
	justify-content: center;
	align-content: center;
	align-items: center;
	position: relative;
	form{
		padding: 0 15px;
		max-width: 420px;
		width: 100%;
	}
	h1{
		color: #96a1b0;
		font-family: Roboto;
		font-size: 36px;
		font-weight: 300;
		line-height: 30px;
		margin-bottom: 25px;
		text-align: center;
	}
	.login_bottom_logo{
		position: absolute;
		width: 90px;
		bottom: -9px;
	}
	.login_top_logo{
		position: absolute;

		width: 75px;
		top: 45px;
		a{
			width: 100%;
		}

	}

}

.input_wr{
	width: 100%;
	position: relative;
	display: inline-block;
	margin-bottom: 10px;
	input{
		height: 60px;
		border-radius: 3px;
		background-color: #333c4c;
		line-height: 60px;
		padding: 0 15px;

		color: #96a2b0;

		font-size: 18px;
		font-weight: 300;
		border: none;
		width: 100%;

	}
	input[type="password"]{
		padding-right: 45px;
	}
	.pass_look{
		position: absolute;
		right: 15px;
		top: 23px;
		font-size: 14px;
	}
}
.input_checkbox_wr{
  	width: 100%;
	padding: 10px 15px;
	border-radius: 3px;
	background-color: #222835;
	margin-bottom: 10px;
	display: flex;
	justify-content: space-between;
	label{
		margin-bottom: 0;
		font-weight: 300;
	}
	a{
		color: #96a2b0;
		font-family: Roboto;
		font-size: 16px;
		font-weight: 300;
		height: 23px;
		border-bottom: 1px solid rgba(150, 162, 176, 0.54);
		position: relative;
		top: -2px;
		&:hover{
			color: #fff;
		}
	}
}

.button{
	color: #272d3b;
	font-family: Roboto;
	font-size: 30px;
	font-weight: 300;
	display: flex;
	justify-content: center;
	align-content: center;
	align-items: center;

	width: 100%;
	height: 70px;
	box-shadow: 0 5px 20px rgba(12, 15, 22, 0.4);
	border-radius: 3px;
	background-color: #ffffff;

	margin-top: 30px;
	border: none;
	outline: none;
	cursor: pointer;
	&:hover{
		background-color: #8f9aa8;
		color: #fff;
	}
}

.user_name{
	width: 100%;
	border-bottom: 1px solid #333c4c;
	display: flex;
	justify-content: flex-start;
	align-items: center;
	align-content: center;
	padding-bottom: 15px;
	> span{
		font-size: 36px;
		font-weight: 200;
		color: #fff;
		width: auto;
		margin-right: 80px;
		margin-bottom: 0;
		i {

			background-image: url(../img/svg/icon-12.svg);
			width: 41px;
			height: 41px;
			margin-right: 10px;
			-webkit-background-size: 30px 30px;
			background-size: 41px;
			display: inline-block;
			background-repeat: no-repeat;
			top: 8px;
			position: relative;
		}
	}
	a{
		font-size: 18px;
		color: #96a1b0;
		font-weight: 300;
		&:hover{
			color: #fff;
			span:before{
				color: #fff;
			}
		}
		i{
			border-bottom: 1px solid #96a1b0;
			font-style: normal;
		}
		span{
			font-size: 26px;
			margin-right: 10px;
			position: relative;
			top: 6px
		}

	}
}

.user_form{
	max-width: 390px;
	margin-top: 70px;
}

@import "menu";
@import "media"; // Always at the end
