@import "vars";

@import "libs";

::placeholder {
	color: #666;
}

::selection {
	background-color: $accent;
	color: #fff;
}


html, body {
	height: 100%;
}
*{
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
}
body {
	font-size: 16px;
	min-width: 320px;
	position: relative;
	line-height: 1.65;
	
	overflow-x: hidden;
	background-color: #272d3b;
	font-family: 'Roboto', sans-serif;
	color: #fff;
	input, textarea {
			border: #666 1px solid;
			outline: none;
			&:focus:required:invalid {
				border-color: red;
			}
			&:required:valid {
				border-color: green;
			}
	}
}

.img-responsive {
	display: block;
	max-width: 100%;
	height: auto;
}
a {
	text-decoration: none;

	transition: all 0.2s ease;
	outline: none;
	color: #fff;
	text-decoration: none;
	display: inline-block;
	outline: none !important;
	cursor: pointer;
	&:hover, &:active, &:focus {
		text-decoration: none;

		transition: all 0.3s ease;
		outline: none;
		border: none;
	}
}

button{
	outline: none!important;
}
.text-center {
	text-align: center;
}
ul{
	list-style: none;
	padding: 0;
	margin: 0;
	li{
		list-style: none;
	}
}
.page{

}
.main_content{
	width: 100%;
	padding-left: 400px;
	padding-top: 20px;
	padding-right: 70px;

}
.chart_wr{
	width: 500px;
	margin-bottom: 40px;
}

// --------------- all
.main_sitebar{

	padding-left: 70px;
	padding-top: 70px;
}

.tabs {
	li {
		float:left;
		margin-right: 50px;
	}
	a {
		display:block;

		font-family: Roboto;
		font-size: 16px;
		font-weight: 300;
		line-height: 30px;

		color: #ffffff;



		&:hover, &.active {
			border-bottom: 1px solid #fff;
		}
	}
}
.tabgroup {
	div {
		margin-top: 20px;

	}
}
.clearfix:after {
	content:"";
	display:table;
	clear:both;
}

#content {
	position: relative;
	height: 50px;
	width: 100%;
	float: right;
	margin-top: 20px;
	transform: translate(0, 0);
}

#content.on {
	-webkit-animation-name: in-out;
	animation-name: in-out;
	-webkit-animation-duration: 0.7s;
	animation-duration: 0.7s;
	-webkit-animation-timing-function: linear;
	animation-timing-function: linear;
	-webkit-animation-iteration-count: 1;
	animation-iteration-count: 1;
}

input {
	box-sizing: border-box;
	width: 30px;
	height: 30px;
	border: 4px solid #525762;
	border-radius: 50%;
	background: none;
	color: #fff;
	font-size: 16px;
	font-weight: 400;
	font-family: Roboto;
	outline: 0;
	background-color: #2b3240;
	transition: width 0.3s ease-in-out, border-radius 0.4s ease-in-out, padding 0.2s;
	-webkit-transition-delay: 0.1s;
	transition-delay: 0.1s;
	transform: translate(-29px,-50%);
	float: right;
}

.search {
	background: none;
	position: absolute;
	top: 0;
	right: -34px;
	height: 50px;
	width: 50px;
	padding: 0;
	border-radius: 100%;
	outline: 0;
	border: 0;
	color: inherit;
	cursor: pointer;
	-webkit-transition: 0.2s ease-in-out;
	transition: 0.2s ease-in-out;
	-webkit-transform: translate(-100%, -50%);
	-ms-transform: translate(-100%, -50%);
	transform: translate(-100%, -50%);
}

.search:before {
	content: "";
	position: absolute;
	width: 15px;
	height: 1px;
	background-color: #666;

	transform: rotate(52deg);
	margin-top: 18px;
	margin-left: 0;

	transition: .2s ease-in-out;
}

.close {
	-webkit-transition: 0.4s ease-in-out;
	transition: 0.4s ease-in-out;
	-webkit-transition-delay: 0.4s;
	transition-delay: 0.4s;
}

.close:before {
	content: "";
	position: absolute;
	width: 27px;
	height: 1px;
	margin-top: -1px;
	margin-left: -13px;
	background-color: #fff;
	-webkit-transform: rotate(45deg);
	-ms-transform: rotate(45deg);
	transform: rotate(45deg);
	-webkit-transition: .2s ease-in-out;
	-o-transition: .2s ease-in-out;
	transition: .2s ease-in-out;
}

.close:after {
	content: "";
	position: absolute;
	width: 27px;
	height: 1px;
	background-color: #fff;
	margin-top: -1px;
	margin-left: -13px;
	cursor: pointer;
	-webkit-transform: rotate(-45deg);
	-ms-transform: rotate(-45deg);
	transform: rotate(-45deg);
}

.square {
	box-sizing: border-box;
	padding: 0 50px 0 10px;
	width: 300px;
	height: 50px;
	background-color: rgb(58, 68, 86);
	border-radius: 0;

	color: #fff;
	font-family: Roboto;
	font-size: 16px;
	font-weight: 400;
	outline: 0;

	transform: translate(-4%,-50%);
}
.logo{
	 font-size: 108px;
	span{
		display: inline-flex;
	}

 }
@import "menu";
@import "media"; // Always at the end
