
<script src="js/scripts.min.js"></script>
<!--<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.4.0/Chart.min.js"></script>-->

<script src="libs/form_style/jquery.formstyler.js"></script>
<script src="js/common.js"></script>

<!--Подключить только на страницах з графиками-->
<script src='https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.2.1/Chart.min.js'></script>
<script src='http://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.11.4/jquery-ui.min.js'></script>
<script src="js/chart.js"></script>


</body>
</html>