<!--<a id="cd-menu-trigger" href="#0"><i>MЕНЮ</i><span class="cd-menu-icon"></span></a>-->
<div class="main_sitebar" id="cd-lateral-nav">
    <nav >
        <div class="header_control_block"></div>
        <div class="main_menu_mob_wr">
            <ul class="cd-navigation">
                <li><a href="#" class="active"><span>Все фермы</span></a></li>
                <li><a href="#"><span>с. Архангельское</span></a></li>
                <li><a href="#"><span>с. Новомарковка</span></a></li>
                <li><a href="#"><span>с. Николаевка</span></a></li>
                <li><a href="#"><span>Избранное</span></a></li>
            </ul>

        </div>
    </nav>


</div>